* {
    margin: 0;
    padding: 0;
}


html, body {
    height: 115vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Raleway", serif;
    color: white;
    background-color: rgb(54,77, 204);
    background: linear-gradient(176deg, rgba(54,77,204,1) 0%, rgba(19,35,124,1) 100%);
}

.logo {
    width: 120px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}

.profile {
    text-align: center;
    margin-top: 50px;
}


h1 {
    font-family: "Architects Daughter", "cursive", serif;  
    font-weight: 10px;
    font-size: 32px;
    margin-bottom: 5px;  
}

h2 {
    font-size: 23px;
    font-weight: 400px;
    margin-top: 2px;
}

.social {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social img {
    width: 33px;
    padding: 30px;
}

.links-list {
    width: 100%;
    max-width: 690px;
    margin: auto;
    padding: 5px;
    list-style: none;
    text-align: center;
}

.links-list li a {
    background: white;
    padding: 15px 20px;
    display: block;
    border-radius: 4px;
    box-shadow: 0 0 20px white;
    text-decoration: none;
    color: rgb(54,77, 204);
    font-weight: bold;
}

.links-list li {
    margin: 10px 20px;
}

.links-list li a span {
    color: grey;
    display: block;
    margin-top: 10px;
}

.footer {
    text-align: center;
    background-color: transparent;
    padding: 30px;
    font-size: 18px;
    height: 90px;
    margin-top: 10px;
}